body {
    margin: 20px;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: green;
    font-size: 24pt;

}

a {
    color:red;
}
a:hover {
	background-color: blue;

}

#important_paragragh:hover{
	background-color: yellow;
	font-size: 40px;

}
.less_important_paragragh:hover{
	color: blue;
}
#span_cover:hover + #hidden_div {
    display: block;}

#hidden_div{
	display:none; 
}